:root{
    --dark-color: rgba(104, 102, 9, 0.404);
    --medium-color: rgb(190, 243, 236);
    --light-color: rgba(0, 255, 213, 0.335);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
body{
    font-family: 'Lato', sans-serif;
    padding: 2rem;

}
.header{
    height: 95vh;
    background-image: linear-gradient(to bottom right, var(--light-color), var(--dark-color)),
    url('../img/river.jpg');
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0%, 100% 75%, 0 100%);
    color: var(--medium-color);
}
.text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.heading-primary-main{
    text-transform: uppercase;
}
.heading-primary-main{
    display: block;
    font-size: 5rem;
    letter-spacing: 0.5rem;
    animation-name: moveInLeft; 
    animation-duration: 3s;
    animation-timing-function: ease-out;

}

@keyframes moveInLeft{
    0%{transform: translateX(-200px); opacity: 0;}
    80%{transform: translateX(15px);}
    100%{transform: translateX(0px); opacity: 1;}

}

.heading-primary-sub{
    display: block;
    font-size: 2rem;
    letter-spacing: 0.6;
    animation-timing-function: ease-out;
    animation-name: moveInRight;
    animation-duration: 3s;
}
@keyframes moveInRight{
    0%{transform: translateX(200px); opacity: 0;}
    80%{transform: translateX(-15px);}
    100%{transform: translateX(0px); opacity: 1;}

}

.btn{
    margin: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--medium-color);
    animation-delay: 3s;
    opacity: 0;
    position: absolute;
    animation-name: bttn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    transition-duration: 1s;

}
.btn:hover{
    font-size:2.5rem;
    color:white;
}
@keyframes bttn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}